/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,700&display=swap');

/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 900 */

.raleway_normal {
	font-family: "Raleway", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}

.raleway_bold {
	font-family: "Raleway", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: italic;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	background: var(--background);
	color: var(--white-text);
	/* overflow-x: hidden; */
}

html {
	scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

button i {
	/* font-size: 1rem; */
	height: 100%;

}


/*Estilo pagina*/

:root {
	--background: #000000;
	--background-minus-black: #121212;
	--third-grade-black: #333;
	--pink-principal: #FF1493;
	--purple-principal: #8A2BE2;
	--celeste-principal: #00FFFF;

	--white-text: #e0e0e0;
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

/* Estilo del scrollbar */
*::-webkit-scrollbar {
	width: 10px;
	/* Ancho del scrollbar vertical */
	height: 7px;
	/* Alto del scrollbar horizontal */
}

/* Estilo del thumb (barra deslizadora) */
*::-webkit-scrollbar-thumb {
	background: linear-gradient(45deg, var(--pink-principal), var(--white-text));
	border-radius: 10px;
}

/* Estilo de la pista (track) */
*::-webkit-scrollbar-track {
	background: transparent;
	/* Color de fondo del track */
}